.h1-1 {
    grid-column: 2 / 3; 
    width: 100% !important;
}

.troisdpres {
    padding-left: 20%;
    padding-top: 10px;
}

.h1-11 {
    grid-column: 2 / 3; 
    width: 100%;
}

.codetext {
    padding-left: 20%;
    padding-top: 10px;
}

.jvtext {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10px;
}

.contact1 {
    font-weight: bold;
}

.contact {
    margin-left: 10%;
}